<footer>
<div class="zerogrid wrap-footer">
	<div class="row">
		<div class="col-1-4 col-footer-1">
			<div class="wrap-col">
				<h3 class="widget-title">About Us</h3>
				<p>Ut volutpat consectetur aliquam. Curabitur auctor in nis ulum ornare. Metus elit vehicula dui. Curabitur auctor in nis ulum ornare. Sed consequat, augue condimentum fermentum</p>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque la udantium</p>
			</div>
		</div>
		<div class="col-1-4 col-footer-2">
			<div class="wrap-col">
				<h3 class="widget-title">Recent Post</h3>
				<ul>
					<li><a href="http://vishatyagibodybuilding.herokuapp.com/show">MOST VISITED COUNTRIES</a></li>
					<li><a href="http://vishatyagibodybuilding.herokuapp.com/show">5 PLACES THAT MAKE A GREAT HOLIDAY</a></li>
					<li><a href="http://vishatyagibodybuilding.herokuapp.com/show">PEBBLE TIME STEEL IS ON TRACK TO SHIP IN JULY</a></li>
					<li><a href="http://vishatyagibodybuilding.herokuapp.com/show">STARTUP COMPANY???S CO-FOUNDER TALKS ON HIS NEW PRODUCT</a></li>
				</ul>
			</div>
		</div>
		<div class="col-1-4 col-footer-3">
			<div class="wrap-col">
				<h3 class="widget-title">Tag Cloud</h3>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">animals</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">cooking</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">countries</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">city</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">children</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">home</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">likes</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">photo</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">link</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">law</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">shopping</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">skate</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">scholl</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">video</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">travel</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">images</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">love</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">lists</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">makeup</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">media</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">password</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">pagination</a>
				<a href="http://vishatyagibodybuilding.herokuapp.com/show">wildlife</a>
			</div>
		</div>
		<div class="col-1-4 col-footer-4">
			<div class="wrap-col">
				<h3 class="widget-title">Where to Find Us</h3>
				<div class="row">
					<address>
						<strong>AUBERGE LONDON</strong>
						<br>
						Ut wisi enim
						<br>
						Minim veniam 12345
						<br>
						Exerci Tation
					</address>
					<p>
						<strong>Opening Hours:</strong>
						<br>
						Mon - Fri: 9:00 - 21:00
						<br>
						Sat - Sun: 9:00 - 2:00
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="copyright">
	<div class="zerogrid wrapper">
		Copyright @ zYoung - <a href="https://www.zerotheme.com" title="free html5 templates">Html5 Templates</a> by Zerotheme</a>
		<ul class="quick-link">
			<li><a href="http://vishatyagibodybuilding.herokuapp.com/show">Privacy Policy</a></li>
			<li><a href="http://vishatyagibodybuilding.herokuapp.com/show">Terms of Use</a></li>
		</ul>
	</div>
</div>
</footer>