<footer>
<div class="zerogrid wrap-footer">
	<div class="row">
		<div class="col-1-4 col-footer-1">
			<div class="wrap-col">
				<h3 class="widget-title">About Us</h3>
				<p>Ut volutpat consectetur aliquam. Curabitur auctor in nis ulum ornare. Metus elit vehicula dui. Curabitur auctor in nis ulum ornare. Sed consequat, augue condimentum fermentum</p>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque la udantium</p>
			</div>
		</div>
		<div class="col-1-4 col-footer-2">
			<div class="wrap-col">
				<h3 class="widget-title">Recent Post</h3>
				<ul>
					<li><a href="/show">MOST VISITED COUNTRIES</a></li>
					<li><a href="/show">5 PLACES THAT MAKE A GREAT HOLIDAY</a></li>
					<li><a href="/show">PEBBLE TIME STEEL IS ON TRACK TO SHIP IN JULY</a></li>
					<li><a href="/show">STARTUP COMPANY???S CO-FOUNDER TALKS ON HIS NEW PRODUCT</a></li>
				</ul>
			</div>
		</div>
		<div class="col-1-4 col-footer-3">
			<div class="wrap-col">
				<h3 class="widget-title">Tag Cloud</h3>
				<a href="/show">animals</a>
				<a href="/show">cooking</a>
				<a href="/show">countries</a>
				<a href="/show">city</a>
				<a href="/show">children</a>
				<a href="/show">home</a>
				<a href="/show">likes</a>
				<a href="/show">photo</a>
				<a href="/show">link</a>
				<a href="/show">law</a>
				<a href="/show">shopping</a>
				<a href="/show">skate</a>
				<a href="/show">scholl</a>
				<a href="/show">video</a>
				<a href="/show">travel</a>
				<a href="/show">images</a>
				<a href="/show">love</a>
				<a href="/show">lists</a>
				<a href="/show">makeup</a>
				<a href="/show">media</a>
				<a href="/show">password</a>
				<a href="/show">pagination</a>
				<a href="/show">wildlife</a>
			</div>
		</div>
		<div class="col-1-4 col-footer-4">
			<div class="wrap-col">
				<h3 class="widget-title">Where to Find Us</h3>
				<div class="row">
					<address>
						<strong>AUBERGE LONDON</strong>
						<br>
						Ut wisi enim
						<br>
						Minim veniam 12345
						<br>
						Exerci Tation
					</address>
					<p>
						<strong>Opening Hours:</strong>
						<br>
						Mon - Fri: 9:00 - 21:00
						<br>
						Sat - Sun: 9:00 - 2:00
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="copyright">
	<div class="zerogrid wrapper">
		Copyright @ zYoung - <a href="https://www.zerotheme.com" title="free html5 templates">Html5 Templates</a> by Zerotheme</a>
		<ul class="quick-link">
			<li><a href="/show">Privacy Policy</a></li>
			<li><a href="/show">Terms of Use</a></li>
		</ul>
	</div>
</div>
</footer>